@import "tailwindcss";

@font-face {
    font-family: 'Geist';
    src: url('https://cdn.jsdelivr.net/npm/@fontsource/geist-sans/files/geist-sans-latin-300-normal.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('https://cdn.jsdelivr.net/npm/@fontsource/geist-sans/files/geist-sans-latin-400-normal.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('https://cdn.jsdelivr.net/npm/@fontsource/geist-sans/files/geist-sans-latin-500-normal.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('https://cdn.jsdelivr.net/npm/@fontsource/geist-sans/files/geist-sans-latin-600-normal.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('https://cdn.jsdelivr.net/npm/@fontsource/geist-sans/files/geist-sans-latin-700-normal.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Adamina';
    src: url('https://cdn.jsdelivr.net/npm/@fontsource/adamina/files/adamina-latin-400-normal.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Geist', sans-serif;
}

.font-adamina {
    font-family: 'Adamina', serif;
}



.bg-custom-gray {
    --bg-opacity: 70%;
    background-color: rgb(232 232 232 / var(--bg-opacity));
}

@media (min-width: 2560px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 3840px) {
    html {
        font-size: 24px;
    }
}